```html
<!-- HERO -->
<section class="hero" id="home">

    <div class="hero-content">

        <p class="hero-label">
            HELLO, I'M
        </p>

        <h1>
            Daffa Alif<br>
            <span>Anhar Firdaus.</span>
        </h1>

        <p class="hero-description">
            TJKT Student <span>·</span>
            Network Enthusiast <span>·</span>
            Creative Designer
        </p>

        <p class="hero-text">
            Saya tertarik pada jaringan komputer, teknologi,
            dan desain digital.
        </p>

        <div class="hero-buttons">

            <a href="#projects" class="hero-button">
                Lihat Project
            </a>

            <a href="#contact" class="hero-button-outline">
                Hubungi Saya
            </a>

        </div>

    </div>


    <div class="hero-decoration">

        <div class="hero-circle"></div>

        <div class="glow"></div>

        <img
            src="{{ url_for('static', filename='foto.png') }}"
            alt="Daffa Alif Anhar Firdaus"
            class="profile-photo"
        >

        <div class="hero-tag hero-tag-1">
            TJKT
        </div>

        <div class="hero-tag hero-tag-2">
            NETWORK
        </div>

        <div class="hero-tag hero-tag-3">
            CREATIVE
        </div>

    </div>

</section>
```
