<!-- HERO -->
<section class="hero" id="home">

    <div class="hero-content">

        <p class="hero-label">
            HELLO, I'M
        </p>

        <h1>
            Daffa Alif<br>
            Anhar Firdaus.
        </h1>

        <p class="hero-description">
            Siswa TJKT yang tertarik pada
            jaringan komputer, teknologi, dan desain digital.
        </p>

        <div class="hero-buttons">

            <a href="#projects" class="hero-button">
                Lihat Project
            </a>

            <a href="#contact" class="hero-button-outline">
                Hubungi Saya
            </a>

        </div>

    </div>

    <div class="hero-photo">

        <div class="hero-photo-glow"></div>

        <img
            src="{{ url_for('static', filename='foto.png') }}"
            alt="Daffa Alif Anhar Firdaus"
        >

    </div>

</section>